html {
	box-sizing: border-box;
	font-size: 20px;
	font-weight: 200;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: large;
}

input {
	width: 100%;
	padding: 20px;
	font-size: 20px;
}

.search-form {
	max-width: 400px;
	margin: 50px auto;
}

.checkin-form {
	max-width: 400px;
	margin: 50px auto;
	text-align: center;
}

.register-complete-form {
	max-width: 400px;
	text-align: center;
	font-size: 30px;
}

input.search {
	margin: 0;
	text-align: center;
	outline: 0;
	border: 10px solid #F7F7F7;
	width: 120%;
	left: -10%;
	position: relative;
	top: 10px;
	z-index: 2;
	border-radius: 5px;
	font-size: 40px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
	margin: 0;
	padding: 0;
	position: relative;
}

.suggestions li {
	background: white;
	list-style: none;
	border-bottom: 1px solid #D8D8D8;
	margin: 0;
	padding: 20px;
	transition: background 0.2s;
	display: flex;
	justify-content: space-between;
	text-transform: capitalize;
}

span.name {
	font-size: 25px;
	font-weight: 100;
}

button.new-user-button{
	font-size: 25px;
	position: relative;
}

.check-in {
	margin: 20px auto;
	font-size: 25px;
	font-weight: 100;
}

.checkin-header {
	color: white;
	text-decoration: none;
}

.validation-error {
	font-size: 20px;
	color: red;
}
